.node {
    height: 25px;
    width: 25px;
}

.node-unvisited {
    background-color: #7b2cbf;
}

.node-visited {
    background-color: #10002b;
}

.node-start {
    background-color: darkgreen;
}

.node-finish {
    background-color: red;
}

.node-backtrack {
    background-color: chartreuse;
}

.node-unsafe {
    background-color: #f7d6e0;
}

.node-could-be-start-cell {
    background-color: snow;
}

.node-could-be-end-cell {
    background-color: rgb(40, 219, 34);
}